@import "../App.scss";

.aside--count
{
    font-weight: 500;
    color: $color6;
    font-family: 'Montserrat';
    display: inline-block;

    .aside--count--highlight
    {
        color: $color3;
    }
}