@import "../App.scss";

.letemps-logo
{
    width: 120px;
    height: 30px;

    .letemps-logo-fill
    {
        fill: $color6 !important;

        
    }

    &:hover .letemps-logo-fill
    {
        fill: $brand-color !important;
    }
}

